<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10-计算属性</title>
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="box">
        姓: <input type="text" v-model="firstname"> <br />
        名: <input type="text" v-model="lastname"> <br />
        <!-- 用插值语法实现姓名案例 -->
        <!-- 全名：<span>{{firstname}}-{{lastname}}</span> -->
        <!-- 用methods实现姓名案例 -->
        全名：<span>{{fullshow()}}</span>
    </div>
    <script>
        new Vue({
            el: '#box',
            data: {
                firstname: '张',
                lastname: '三'
            },
            methods: {
                fullshow() {
                    return this.firstname + '-' + this.lastname
                }
            },
        })
    </script>
</body>

</html>